.page-container {
    display: flex;
    margin:auto;
    width: 96%; /* Full viewport width */
    height: 100vh; /* Full viewport height */
  }
  
  .navbar-filters {
    width: 25%;
    
    overflow-y: auto;
    scrollbar-width: none;
    padding: 0px; 
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); 
  }
  .navbar-filters::-webkit-scrollbar {
    display: none; 
  }
  .navbar-header{
     background-color:#fff;
     padding:20px;
     margin-bottom:20px;
  }
  .navbar-header-photo{
    width:100%;
  }
  .navbar-header-photo img{
    width:100%;
  }
  .navbar-header-line{
    width:100%;
  }
  .navbar-header-line h2{
    font-size:18px;
  }
  
  .navbar-start{
   background-color:#fff;
  }
  .main-content {
    width: 75%;
    padding:0px;
    overflow-y: auto; 
  }
  .product-display{
    margin-left:2%;
     margin-right:0px;
     padding:20px;
  }

  .main-content-head{
    text-align:left;
    font-weight:550;
    padding:20px;
    padding-top:0px;
    
  }
  .product-display-item{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    margin-top: 30px;
    gap:30px;
    row-gap:50px;
    
  }
  .product-item{
    background-color:#fff;
    padding:20px;
  }

  .product-image{
    height:200px;
    overflow:hidden;
  }
  .product-image img{
    width:100%;
    height:230px;
  }
  .product-desc{
    text-align:left;
    padding-top:2px;
    padding-bottom:0px;
    margin:0px;
    
  }
  .product-desc h2{
    margin:5px;
    font-size:20px;
    font-weight:600;
  }
  .product-desc .first{
    font-weight:500;
  }
  .product-desc .second{
    font-weight:350;
  }
  .product-desc p{
   margin:2px;
  }
  .product-desc span{
    margin-left:5px;
    font-size:20px;
    font-weight:600;
  }
  .product-desc .product-strikeout {
    text-decoration: line-through;
    color: #636363; 
    margin-right: 8px;
    font-size:16px;
    font-weight:500;
  }
  .product-desc .discount{
    color:#388e3c;
    font-size:15px;
    margin-left:0px;
    font-weight:600;
  }
  .span-element{
    display:flex;
    justify-content:space-between;
  }
  .product-stars{
    margin:0px;
    padding-top:10px;
    padding-right:2px;
  }

/* 
  styling for the filters start here */
  .filters-head{
    font-weight:550;
    padding-top:0px;
    border-bottom:2px solid rgb(122, 122, 122);
  }
  .navbar-filters{
    display:flex;
    flex-direction:column;
  }
  .type-selection{
    display:flex;
    flex-direction:column;
    border-bottom:2px solid rgb(122, 122, 122);
    text-align:left;
    padding:10px;
   
  }
  .brand-selection{
    display:flex;
    flex-direction:column;
    border-bottom:2px solid rgb(122, 122, 122);
    text-align:left;
   padding:10px;
  }
  .model-selection{
    display:flex;
    flex-direction:column;
    border-bottom:2px solid rgb(122, 122, 122);
    text-align:left;
    padding:10px;
  }
  .rating-selection{
    display:flex;
    flex-direction:column;
    border-bottom:2px solid rgb(122, 122, 122);
    text-align:left;
    padding:10px;
  }
  .discount-selection{
    display:flex;
    flex-direction:column;
    border-bottom:2px solid rgb(122, 122, 122);
    text-align:left;
    padding:10px;
  }
  .price-selector{
    padding:10px;
    display:flex;
    flex-direction:column;
    border-bottom:2px solid rgb(122, 122, 122);
    text-align:left;
  }
  .price-range{
    display:flex;
    justify-content:space-around;
  }
  /* MensPage.css */
.price-selector input {
  width: 90px;
  margin: 0 5px;
  padding: 5px;
  border: 2px solid #606060;
  border-radius: 4px;
  text-align:center;
  font-size:16px;
  font-weight:600;
}
.price-const-range{
  text-align:center;
  padding-bottom:10px;
  font-size:16px;
  font-weight:600;
}

input[type="checkbox"] {
  display: none;
}
.type label::before {
  content: '+';
  font-size:14px;
  color:#636363;
  font-style:bold;
  font-weight:800;
  margin-right: 8px;
  transition: transform 0.3s ease;
  border:1px solid rgb(122, 122, 122);
 padding:0px 4px;
  border-radius:5px;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.1);
}



.type input[type="checkbox"]:checked + label::before  {
  content: '-'; 
  color:#636363;
}




.type label.checked {
  content: '-'; /* Display hyphen when checked */
  color: rgb(185, 47, 47); /* Change the color of the hyphen if needed */
  text-align: center; /* Center the hyphen */
  line-height: 16px; /* Vertically center it */
  font-size: 100px; /* Adjust size */
  background: black; /* Remove background when checked */
  border: none; /* Remove border when checked */
}




  .type{
    padding:5px 0px 5px 10px;
    
  }
  .type label{
    padding:0px;
  }
  .highlight{
    font-size:18px;
    font-weight:500;
    padding:0px 10px 10px 0px;
    
  }
  .navbar-header-mobile{
    display:none;
  }


@media (max-width:1090px){
  .navbar-filters {
    width: 30%;
    
    overflow-y: auto;
    scrollbar-width: none;
    padding: 0px; 
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); 
  }
  .main-content {
    width: 70%;
    padding:0px;
    overflow-y: auto; 
  }
  .navbar-header{
    background-color:#fff;
    padding:0px;
    margin-bottom:20px;
 }
 .navbar-header-photo{
   width:100%;
 }
 .navbar-header-photo img{
   width:100%;
 }
 .navbar-header-line{
   width:100%;
 }
 .navbar-header-line h2{
   font-size:12px;
 }
 .product-desc h2{
  font-size:18px;

}
.product-desc .first{
  font-size:16px;
}
.product-desc .second{
  font-size:14px;
}

.product-desc span{
  font-size:16px;

}
.product-desc .product-strikeout {
  font-size:14px;
}
.product-desc .discount{
  font-size:14px;
}
  

}
@media (max-width: 960px) {
  .price-selector{
    padding:10px;
    display:flex;
    flex-direction:column;
    border-bottom:2px solid rgb(122, 122, 122);
    text-align:left;
  }
  .price-range{
    display:flex;
    align-items:center;
    flex-direction:column;

  }
  .product-desc .second{
    font-weight:350;
    display:none;
  }
  .product-desc{
    text-align:left;
    padding-top:2px;
    padding-bottom:0px;
    margin:0px;
    
  }
  .product-desc h2{
    font-size:16px;

  }
  .product-desc .first{
    font-size:14px;
  }
  
 
  .product-desc span{
    font-size:16px;

  }
  .product-desc .product-strikeout {
    font-size:14px;
  }
  .product-desc .discount{
    font-size:14px;
  }

}


@media (max-width: 870px) {
    .navbar-filters{
      width:0%;
      display:none;
    }
    .navbar-header-mobile{
      background-color:#fff;
      padding:0px;
      margin-bottom:10px;
      display:flex;
      flex-direction:column;
   }




   .main-content {
    width: 100%;
    padding:0px;
    overflow-y: auto; 
  }
  .product-display{
    margin-left:0%;
     margin-right:0px;
     padding:10px;
  }

  .main-content-head{
    text-align:left;
    font-weight:550;
    padding:0px;
    padding-top:0px;
    font-size:3.6vw;
  }
  .product-display-item{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(33%,1fr));
    margin-top: 20px;
    gap:30px;
    row-gap:50px;
    
  }
  .product-item{
    background-color:#fff;
    padding:20px;
  }

  .product-image{
    height:200px;
    overflow:hidden;
  }
  .product-image img{
    width:100%;
    height:230px;
  }
  


  .product-desc h2{
    font-size:16px;

  }
  .product-desc .first{
    font-size:14px;
  }
  .product-desc span{
    font-size:16px;

  }
  .product-desc .product-strikeout {
    font-size:14px;
  }
  .product-desc .discount{
    font-size:14px;
  }
  .product-desc .second{
    font-weight:350;
    display:none;
  }
  .span-element{
    display:flex;
    justify-content:space-between;
  }
  .product-stars{
    margin:0px;
    padding-top:10px;
    padding-right:2px;
  }

   .navbar-header-photo-mobile{
     width:90%;
     margin:auto;
   }
   .navbar-header-photo-mobile img{
     width:100%;
   }
   .navbar-header-line-mobile{
     width:100%;
   }
   .navbar-header-line-mobile h2{
     font-size:2.6vw;
   }
}
@media (max-width: 430px) {
  .product-display-item{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(100%,1fr));
    margin-top: 10px;
    gap:30px;
    row-gap:30px;
    
  }
  .main-content-head{
    text-align:left;
    font-weight:550;
    padding:0px;
    padding-top:0px;
    font-size:16px;
  }
  .navbar-header-line-mobile h2{
    font-size:14px;
  }
  .product-desc span{
    margin-left:0px;

  }

}

  

  